<div th:fragment="header">
    <nav class="navbar navbar-expand-lg" style="background: linear-gradient(189deg, rgba(255,255,255,1) 0%, rgba(13,110,253,1) 100%);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: white; font-weight: bold">WaterWorks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" style="color:white !important;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white !important;">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white !important;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white">Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>