<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>WaterWorks</title>
    <link rel="stylesheet" href="/css/waterworks.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <div th:replace="layouts/commonHeader :: header"></div>
    <section layout:fragment="content"></section>
    <div th:replace="layouts/commonFooter :: footer"></div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/waterworks.js"></script>
</body>
</html>