<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
  <div class="p-4">
    <div class="row">
      <form action="/purchase/receipts" method="post">
        <div class="col-12 col-md-10">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">od</span>
            <input type="text" class="form-control" name="item.priceFrom" th:field="*{priceFrom}" placeholder="..." aria-label="Cijena od" aria-describedby="basic-addon1">
            <span class="input-group-text">do</span>
            <input type="text" class="form-control" th:field="*{priceTo}" placeholder="..." aria-label="Cijena do">
            <span class="input-group-text">€</span>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <input type="submit" value="Filtriraj" class="btn btn-secondary">
        </div>
      </form>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Broj računa</th>
        <th scope="col">Kupac</th>
        <th scope="col">Korisničko ime</th>
        <th scope="col">Datum i vrijeme</th>
        <th scope="col">Način plaćanja</th>
        <th scope="col">Ukupni iznos</th>
        <th scope="col">Stavke</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="receipt: ${receipts}">
        <th scope="row" th:text="${receipt.getReceiptNumber()}"></th>
        <td th:text="${receipt.getUserFullName()}"></td>
        <td th:text="${receipt.getUsername()}"></td>
        <td th:text="${receipt.getLocalDateTime()}"></td>
        <td th:text="${receipt.getPurchaseType().name()}"></td>
        <td th:text="${receipt.getTotalPrice() + '€'}"></td>
        <td>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Artikal</th>
                <th scope="col">Cijena</th>
                <th scope="col">Količina</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="purchaseRecord : ${receipt.getPurchaseRecords()}">
                <td th:text="${purchaseRecord.itemName()}"></td>
                <td th:text="${purchaseRecord.price()}"></td>
                <td th:text="${purchaseRecord.amount()}"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>