<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
  <div class="container d-flex justify-content-center align-items-center" style="width: 100vw; height: 75vh">
    <form action="/auth/register" method="post" th:object="${registerRequest}">
      <div class="card mb-3 p-3" style="width:450px">
        <div class="card-body">
          <h4 class="card-title text-center mb-5 text-primary">Registracija</h4>
          <div class="mb-3">
            <input name="firstName" th:field="*{firstName}" type="text" class="form-control mb-3 text-center" placeholder="Ime"/>
            <input name="lastName" th:field="*{lastName}" type="text" class="form-control mb-3 text-center" placeholder="Prezime"/>
            <input name="username" th:field="*{username}" type="email" class="form-control mb-3 text-center" placeholder="militza.krmpotich@example.com"/>
            <input name="password" th:field="*{password}" type="password" class="form-control text-center mb-3" placeholder="lozinka"/>
            <input name="confirmPassword" th:field="*{confirmPassword}" type="password" class="form-control text-center" placeholder="ponovite lozinku"/>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-4">
          <input type="submit" class="btn btn-primary w-100" value="Registriraj me"/>
        </div>
        <span class="text-center">Imate račun? <a href="/login">Prijavite se ovdje</a></span>
      </div>
    </form>
  </div>
</div>
</body>
</html>