<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
  <div class="container d-flex justify-content-center align-items-center" style="width: 100vw; height: 75vh">
    <div class="card mb-3 p-3" style="width:450px">
      <div class="card-body">
        <h4 class="card-title text-center mb-5 text-primary">Registracija</h4>
        <div class="mb-3">
          <input type="text" class="form-control mb-3 text-center" placeholder="Ime"/>
          <input type="text" class="form-control mb-3 text-center" placeholder="Prezime"/>
          <input type="email" class="form-control mb-3 text-center" placeholder="militza.krmpotich@example.com"/>
          <input type="password" class="form-control text-center mb-3" placeholder="lozinka"/>
          <input type="password" class="form-control text-center" placeholder="ponovite lozinku"/>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mb-4">
        <a href="#" class="btn btn-primary w-100">Registriraj me</a>
      </div>
      <span class="text-center">Imate račun? <a href="/auth/login">Prijavite se ovdje</a></span>
    </div>
  </div>
</div>
</body>
</html>